<li>
  <div class="container">
    <div class="card">
      <div class="card-content row">
        <form class="col s12" method="post" action="/api/users">
          <div class="row col s12">
            <div class="input-field col s12">
              <input id="username" name="username" type="text" />
              <label for="username">Username</label>
            </div>
            <div class="input-field col s12">
              <input id="firstName" name="firstName" type="text" />
              <label for="firstName">First Name</label>
            </div>
            <div class="input-field col s12">
              <input id="lastName" name="lastName" type="text" />
              <label for="lastName">Last Name</label>
            </div>
            <div class="input-field col s12">
              <input id="email" name="email" type="email" />
              <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
              <input id="password" name="password" type="password" />
              <label for="password">Password</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit">Create Account
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div>
  </div>
</li>
