.fixed-action-btn(style='bottom: 24px; right: 24px;')
  a.btn-floating.btn-large.red
    i.large.material-icons add
  ul
    li
      a.btn-floating.red
        i.material-icons photo
    li
      a.btn-floating.yellow.darken-1
        i.material-icons textsms
