<li>
  <div class="container">
    <div class="section">
      <div class="card">

        <div class="card-content">
          <div class="col s5 m3">
            <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle responsive-img">
          </div>
          <span class="card-title activator grey-text text-darken-4">Username<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is where a post goes</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Username<i class="material-icons right">close</i></span>
          <p>This is where comments would go.</p>
        </div>
      </div>
    </div>
  </div>
</li>
