<script src="js/init.js"></script>

<div class="parallax-container">
  <div class="parallax">
    <img src="/img/classroom.jpg"/>
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Welcome to Project Paw</h2>
    <p class="grey-text text-darken-3 lighten-3">This text will be replaced.</p>
  </div>
  <div class="row container">
    <a class="waves-effect waves-light btn red darken-4" ui-sref="app.home.login">Login</a>
    <a class="waves-effect waves-light btn red darken-4" ui-sref="app.home.register">Register</a>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <img src="/img/classroom.jpg">
  </div>
