<script src="js/init.js"></script>

<body>
  <nav class="red darken-4" style="position: fixed; z-index: 9999;">
    <a class="button-collapse" data-activates="slide-out" href="#">
      <i class="mdi-navigation-menu"></i>
    </a>
    <div class="nav-wrapper container">
      <a class="brand-logo center" href="#" id="logo-container"><img alt class="responsive-img valign-wrapper col s3" src="img/logo.png" style="width: 65px;"/></a>
    </div>
  </nav>
  <div class="parallax-container">
    <div class="parallax">
      <img src="/img/classroom.jpg"/>
    </div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Welcome to Project Paw</h2>
      <p class="grey-text text-darken-3 lighten-3">This text will be replaced.</p>
    </div>
    <div class="row container">
      <a class="waves-effect waves-light btn red darken-4" ui-sref="app.home.login">Login</a>
      <a class="waves-effect waves-light btn red darken-4" ui-sref="app.home.register">Register</a>
    </div>
  </div>
  <div class="parallax-container" style="height: 500px">
    <div class="parallax">
      <img src="/img/classroom.jpg">
    </div>
  </body>
