<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="../../public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="../../public/css/custom.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <script src="../../public/js/materialize.js"></script>
  <script src="../../public/js/init.js"></script>
</head>
<body>
 <nav class="red darken-4" style="position: fixed; z-index: 9999;">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo center">Logo</a>
      </nav>
 <div class="parallax-container">
    <div class="parallax"><img src="../../public/school.jpg"></div>
  </div>
</body>
</html>