nav.red.darken-4(style='position: fixed; z-index: 9999;')
  a.button-collapse(href='#', data-activates='slide-out')
    i.mdi-navigation-menu
  .nav-wrapper.container
    a#logo-container.brand-logo(href='#') Logo
    ul.right.hide-on-med-and-down
      li
        a(href='#!') First Sidebar Link
      li
        a(href='#!') Second Sidebar Link
