<!DOCTYPE html>
<html>

<head>
  <script src="js/init.js"></script>
</head>

<body>
  <body>
    </div>
    <div class="row">
      <div class="col m12 l10 offset-l2" style="margin-top: 65px;">
        <ul>
          <li>
            <div class="container">
              <div class="card">
                <div class="card-content row">
                  <form class="col s12" method="post" action="/api/posts">
                    <div class="row col s12">
                      <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea" name="postText"></textarea>
                        <label for="textarea1">What's Up?</label>
                      </div>
                      <button class="btn waves-effect waves-light" type="submit">Submit
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="container">
              <div class="card">
                <div class="card-content">
                  <div class="col s5 m3">
                    <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle responsive-img">
                  </div>
                  <span class="card-title activator grey-text text-darken-4">Username<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">This is where a post goes</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Username<i class="material-icons right">close</i></span>
                  <p>This is where comments would go.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="container">
              <div class="card">
                <div class="card-content">
                  <div class="col s5 m3">
                    <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle responsive-img">
                  </div>
                  <span class="card-title activator grey-text text-darken-4">Username<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">This is where a post goes</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Username<i class="material-icons right">close</i></span>
                  <p>This is where comments would go.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="container">
              <div class="section">
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://materializecss.com/images/office.jpg">
                  </div>
                  <div class="card-content">
                    <div class="col s5 m3">
                      <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle responsive-img">
                    </div>
                    <span class="card-title activator grey-text text-darken-4">Username<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is where a post goes</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Username<i class="material-icons right">close</i></span>
                    <p>This is where comments would go.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="container">
              <div class="section">
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://materializecss.com/images/office.jpg">
                  </div>
                  <div class="card-content">
                    <div class="col s5 m3">
                      <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle responsive-img">
                    </div>
                    <span class="card-title activator grey-text text-darken-4">Username<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is where a post goes</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Username<i class="material-icons right">close</i></span>
                    <p>This is where comments would go.</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">add</i>
        </a>
        <ul>
          <li><a class="btn-floating red"><i class="material-icons">photo</i></i></a></li>
          <li><a class="btn-floating yellow darken-1"><i class="material-icons">textsms</i></a></li>
        </ul>
      </div>
      <!-- <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
          <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></i></a></li>
          <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
          <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
          <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
        </ul>
      </div> -->

  </body>
</body>

</html>
