<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/custom.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="red darken-4" style="position: fixed; z-index: 9999;">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#!">First Sidebar Link</a></li>
        <li><a href="#!">Second Sidebar Link</a></li>
      </ul>
  </nav>

  <body>
  </div>
  <div class="row">
    <div class="col m0 l2">
      <ul id="slide-out" class="side-nav fixed" style="top: 65px;">
        <li><a href="#!">First Sidebar Link</a></li>
        <li><a href="#!">Second Sidebar Link</a></li>
      </ul>
    </div>
    <div class="col m12 l10 offset-l2" style="margin-top: 65px;">
      <ul>
        <!-- {{>account_box}} {{>post_box}} {{>basic_card}} {{>basic_card}} {{>image_card}} {{>image_card}} -->
      </ul>
    </div>

    <div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
      </a>
      <ul>
        <li><a class="btn-floating red"><i class="material-icons">photo</i></i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">textsms</i></a></li>
      </ul>
    </div>

  </body>
</body>

</html>
