<div flex="33">

</div>
<div layout="row" layout-fill layout-align="center center" flex>
  <md-card flex="66">
    <form action="/api/users/auth" method="post">
      <md-card-content>
        <md-input-container class="md-block">
          <label>Email</label>
          <input id="email" name="email" type="email"/>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input id="password" name="password" type="password"/>
        </md-input-container>
        <md-button class="md-raised md-primary md-hue-2" type="submit">Login</md-button>
      </md-card-content>
    </form>
  </md-card>
</div>
<div flex="33">

</div>
