<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/custom.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</head>

<body>
  <nav class="red darken-4" style="position: fixed; z-index: 9999;">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo center"><img alt class="responsive-img valign-wrapper col s3" src="img/logo.png" style="width: 85px;"/></a>
      </nav>
  <div class="parallax-container" style="height: 500px">
    <div class="parallax">
      <img src="/img/classroom.jpg">
    </div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Welcome to Project Paw</h2>
      <p class="grey-text text-darken-3 lighten-3">This text will be replaced.</p>
    </div>
    <div class="row container">
        <a class="waves-effect waves-light btn red darken-4" href="/login">Login</a>
        <a class="waves-effect waves-light btn red darken-4" href="/register">Register</a>
    </div>
  </div>
  <div class="parallax-container" style="height: 50px">
    <div class="parallax">
      <img src="/img/classroom.jpg">
    </div>
</body>

</html>
