<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
    <script scr='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  </head>

  <body>
    <div>
      <div ui-view></div>
    </div>
    <!-- <script src="js/init.js"></script> -->
    <script src='app/app.js'></script>
    <!-- <script src='js/services.js'></script> -->
    <script src='app/controllers.js'></script>
  </body>

</html>
