<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <base href="/">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
  <script scr='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" media="screen,projection" rel="stylesheet" type="text/css" />
  <link href="css/style.css" media="screen,projection" rel="stylesheet" type="text/css" />
  <link href="css/custom.css" media="screen,projection" rel="stylesheet" type="text/css" />
  <script src="js/materialize.js"></script>
</head>

<body>
  <div class="navbar-fixed">
    <nav class="red darken-4">
      <a class="button-collapse" data-activates="slide-out" href="#">
        <i class="mdi-navigation-menu"></i>
      </a>
      <div class="nav-wrapper row">
        <ul class="brand-logo left valign-wrapper" href="#" id="logo-container">
          <div class="valign-wrapper">
            <a href="/home"><img alt class="responsive-img valign-wrapper col s3" src="img/logo.png" /></a>
          </div>
        </ul>
        <ul class="right hide-on-med-and-down valign-wrapper">
          <li>
            <a href="#!">First Sidebar Link</a>
          </li>
          <li>
            <a href="#!">Second Sidebar Link</a>
          </li>
          <li class="valign-wrapper" ng-controller="ProfilePicCtrl">
            <img alt class="circle responsive-img valign-wrapper col s8" ng-src="http://www.gravatar.com/avatar/{{hash}}" />
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col m0 l2">
    <ul class="side-nav fixed" id="slide-out" style="top: 65px;">
      <li>
        <a href="#!">First Sidebar Link</a>
      </li>
      <li>
        <a href="#!">Second Sidebar Link</a>
      </li>
    </ul>
  </div>
  <div>
    <div ui-view></div>
  </div>
  <script src='app/app.js'></script>
  <script src='app/factories.js'></script>
  <script src='app/controllers.js'></script>
</body>

</html>
