doctype html
html
  head
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='css/custom.css', type='text/css', rel='stylesheet', media='screen,projection')
  body
    include partials/header.jade
    body
      .row
        include partials/sidebar.jade
        .col.m12.l10.offset-l2(style='margin-top: 65px;')
          ul
            block content
        include partials/action_button.jade
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='js/materialize.js')
    script(src='js/init.js')
