.cardavatar{
    position: absolute;
        width: 42px;
        height: 42px;
        overflow: hidden;
        left: 15px;
        display: inline-block;
        vertical-align: middle;
        min-height: 84px;
      padding-left: 72px;
      position: relative;
}